.family-container{
    width:80%;
    margin: 40px auto;
}
.family-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fam-img, .fam-text{
    flex-basis: 100%;
}
.fam-text{
    padding-top: 10px;
}
.fam-img img{
    width: 100%;
}
.fam-text p{
    font-weight: 700;
    opacity: .7;
    line-height: 26px;
}
.fam-text p:nth-child(2){
    margin-top: 10px;
}
.ministries-row{
    text-align: center;
    margin-top: 10px;
}
.ministries-row h5{
    display: inline-block;
    text-transform: capitalize;
    margin-right: 5px;
    margin-top: 10px;
    border: 2px solid rgb(202, 4, 4, .3);
    padding: 5px 8px;
}
.ministries-row h5:hover{
    box-shadow: 0px 0px 10px 0px rgb(202, 4, 4, .3);
}
.ministries-row h5 a{
    text-decoration: none;
    color: black;
}
@media screen and (min-width:1024px) {
    .fam-img, .fam-text{
        flex-basis: 48%;
    }
}