*{
    scroll-behavior: smooth;
}
#menu ul li:nth-child(4) a{
    color: red;
}
.banner-icon .fa{
    transform: rotate(30deg);
}
.min-container{
    width: 80%;
    margin: 40px auto;
}
.min-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-1, .content-2{
    margin-top: 10px;
}
.content-1{
    flex-basis: 65%;
}
.content-2{
    flex-basis: 35%;
    padding: 20px 10px 10px 40px;
}
.content-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col{
    flex-basis: 46%;
    text-transform: capitalize;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 30px 0px rgb(29, 2, 90, .2);
    position: relative;
}
.col::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-color: rgb(172, 7, 7);
    bottom: 10px;
    right: 15px;
    border-top-left-radius: 100%;
}
.col img{
    width: 100%;
}
.col h1{
    font-size: 1.3rem;
    margin-top: 20px;
}
.col h1 a{
    text-decoration: none;
    color: black;
}
.col h1 a:hover{
    color: rgb(168, 7, 7);
    opacity: .7;
}
input{
    padding: 15px 10px;
    text-transform: capitalize;
    border: 2px solid transparent;
    box-shadow: 0px 0px 20px 0px rgb(29, 2, 90, .1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}
.min-btn{
    text-align: center;
    margin: 30px 0;
}
.min-btn a{
    color: #fff;
    background-color: rgb(172, 7, 7);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
}
.min-btn a:hover{
    background-color: black;
}
.content-2 a{
    color: #fff;
    background-color: rgb(172, 7, 7);
    padding: 15px;
    position: absolute;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.content-2 a:hover{
    background-color: black;
}
.content-post{
    margin-top: 40px;
}
.content-post h1{
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.content-post h1 .fa{
    margin-right: 5px;
    color: rgb(172, 7, 7);
}
.post{
    display: flex;
    margin-bottom: 10px;
}
.post-img{
    flex-basis: 25%;
    margin-right: 10px;
}
.post-text{
    flex-basis: 85%;
    padding-top: 5px;
}
.post h1, h2{
    font-size: .9rem;
}
.post h2{
    font-style: italic;
    color: rgb(172, 7, 7);
    opacity: .7;
}
.post h2 .fa{
    transform: rotate(90deg);
    margin-right: 5px;
}
.latest h2 .fa{
    transform: rotate(0deg);
}
.post h1{
    margin-bottom: 8px;
}
.post-img img{
    width: 100%;
    height: 70px;
    border-radius: 5px;
}
@media screen and (max-width:950px) {
    .post-img{
        flex-basis: 10%;
    }
    .content-2{
        flex-basis: 70%;
    }
}
@media screen and (max-width:767px){
    .post-img{
        flex-basis: 25%;
    }
}
@media screen and (max-width:950px) {
    .content-1,.content-2{
        flex-basis: 100%;
    }
    .content-2{
        padding-left: 20px;
    }
    .col{
        flex-basis: 100%;
    }
    .content-post{
        margin-top: 40px;
    }
    .post-img img{
        width: 100%;
        height: 60px;
    }
}
@media screen and (min-width:1024px) {
    .content-post{
        margin-top: 130px;
    }
    .post h1, h2{
        font-size: .9rem;
    }
    .post h1{
        margin-bottom: 15px;
    }
}
