*{
    scroll-behavior: smooth;
}
.header-text ul li:nth-child(2) a{
    color: red;
}
.header-text ul li:nth-child(2) a:hover{
    color: #fff;
}
.main-image{
    width: 80%;
    height: 300px;
    margin: 40px auto;
    background: url('/images/C-21.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px;
}
.icon-box{
    position: absolute;
    left: 50%;
    width: 80%;
    bottom: -30px;
    padding: 20px 0px;
    transform: translate(-50%,20px);
    text-align: center;
    color: #fff;
    background-color: rgb(163, 8, 8);
    border-radius: 5px;
}
.icon-box h1{
    text-transform: capitalize;
    font-size: 1rem;
    margin-bottom: 10px;
}
.icon-box ul li{
   list-style: none;
   display: inline;
   margin-right: 10px;
}
.icon-box ul li:last-child{
    margin-right: 0;
}
.icon-box .fa{
    color: black;
    background-color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
}
@media screen and (max-width:950px){
    .header-text h1{
        font-size: 1.3rem;
    }
}
@media screen and (min-width:1024px) {
    .main-image{
        height: 500px;
    }
    .icon-box .fa{
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 5px;
    }
    .icon-box h1{
        font-size: 1.3rem;
    }
}
/* MAIN SECTION */
.main-text{
    padding: 40px 0;
    width: 80%;
    margin:0 auto 40px;
}
.main-text p{
    opacity: .6;
    line-height: 25px;
}
.main-text h2{
    opacity: .8;
    margin-left: 10px;
    margin-bottom: 20px;
}
.heading-text h2{
    font-size: 1rem;
}
.heading-text h2 span{
    color: red;
}
.heading-text h2 .fa{
    transform: rotate(90deg);
}

/* IMAGES */
.text-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col-img{
    flex-basis: 48%;
    margin-top: 20px;
    position: relative;
}
.col-img img{
    width: 100%;
    border-radius: 5px;
    height: 200px;
    cursor: pointer;
}
.col-img span{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: red;
    border-radius: 5px;
    opacity: 0;
    transition: .5s ease;
}
.col-img span:hover{
    opacity: .4;
    background-color: rgb(187, 180, 180);
}
.main-text h1{
    text-transform: capitalize;
    margin: 20px 0;
}
.main-text h1 span{
    color: rgb(233, 2, 2);
}
@media screen and (max-width:767px) {
    .col-img{
        flex-basis: 100%;
    }
}
@media screen and (min-width:1024px) {
    .col-img img{
        height: 300px;
    }
}