/* FOOTER */
.footer{
    background: linear-gradient(rgba(1, 1, 17, 0.9),rgba(25, 2, 82, 0.9));
    width: 100%;
    color: #fff;
    padding: 20px;
  }
  .footer-container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  .footer-col{
    flex-basis: 25%;
    padding: 10px;
  }
  .f-links ul li{
    list-style: none;
    margin-bottom: 10px;
  }
  .f-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
    line-height: 26px;
  }
  .footer-container h1{
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .footer p{
    font-size: .9rem;
    line-height: 26px;
    font-weight: 500;
  }
  .footer p, .footer a{
    opacity: .9;
  }
  .news-content h1{
    font-size: .9rem;
  }
  .news-content h4{
    font-size: .8rem;
    font-style: italic;
    opacity: .6;
  }
  .news-content h1{
    line-height: 23px;
    font-size: .8rem;
  }
  .news-content h4{
    text-transform: capitalize;
  }
  .news-article{
    display: flex;
  }
  .news-image{
    flex-basis: 20%;
  }
  .news-image img{
    width: 100%;
    height: 60px;
  }
  .news-content span{
    color: red;
    margin-right: 5px;
  }
  .news-image, .news-article{
    margin-bottom: 10px;
  }
  .news-content{
    flex-basis: 80%;
    padding-left: 10px;
  }
  .footer hr{
    margin: 20px 0;
    height: 2px;
    width: 90%;
    background-color: #fff;
    opacity: .3;
  }
  .footer-icons{
    margin-top: 20px;
  }
  .footer-icons .fa{
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    text-align: center;
    margin-right: 3px;
    transition: .5s ease;
    cursor: pointer;
  }
  .footer-icons .fa:hover{
    background-color: rgb(201, 5, 5);
  }
  .f-links ul li .fa{
    margin-right: 8px;
    color: rgb(201, 5, 5);
  }
  .copywrite{
    width: 100%;
    background-color: rgb(18, 2, 48);
    color: #fff;
    padding: 20px 0;
  }
  .copywrite h1{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 1rem;
    text-align: center;
    opacity: .8;
  }
  .copy-right{
    text-align: center;
  }
  .copy-right a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    opacity: .8;
  }
  .copy-right a:hover{
    opacity: 1;
  }
  @media screen and (min-width:1024px) {
    .copywrite{
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
    }
    .copy-right, .copy-left{
      flex-basis: 50%;
    }
  }
  .footer form{
    margin-top: 10px;
  }
  .footer form input{
    display: block;
    width: 100%;
    text-transform: capitalize;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
  }
  .footer form input:last-child{
    background-color: rgb(177, 4, 4);
    color: #fff;
    cursor: pointer;
  }
  .footer form input:hover:last-child{
    background-color: rgb(102, 6, 6);
  }
  @media screen and (min-width:540px) {
    .f-links ul li{
      margin-bottom: 5px;
    }
    .f-links ul li a{
      font-size: .7rem;
      line-height: 18px;
    }
    .footer-container h1{
      font-size: .8rem;
      margin-bottom: 5px;
    }
    .footer-container p{
      font-size: .7rem;
      line-height: 18px;
    }
    .footer-icons .fa{
      font-size: 15px;
      line-height: 30px;
      width: 30px;
      height: 30px;
      text-align: center;
    }
  }
  @media screen and (max-width:767px) {
    .footer-col{
      flex-basis: 100%;
      margin-top: 10px;
    }
    
  }
  @media screen and (min-width:768px) and (max-width:950px) {
    .footer-container h1{
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
    .footer-container p{
      font-size: .8rem;
      line-height: 20px;
    }
    .footer-col{
      flex-basis: 50%;
      margin-top: 20px;
    }
  }
  @media screen and (min-width:1024px) {
    .footer{
      padding: 70px 20px;
    }
    .footer-container p, .footer-container ul li a{
      line-height: 20px;
    }
    .footer-col{
      flex-basis: 25%;
    }
    .footer-icons .fa{
      margin-top: 5px;
      line-height: 35px;
      width: 35px;
      height: 35px;
    }
    .news-content h1{
      font-size: .9rem;
    }
  }
  @media screen and (max-width:760px) {
    .copywrite h1, .copy-right a{
      font-size: .6rem;
    }
  }
  @media screen and (max-width:390px) {
    .f-links ul li{
      margin-bottom: 5px;
    }
    .f-links ul li a{
      font-size: .7rem;
      line-height: 18px;
    }
    .footer-container h1{
      font-size: .8rem;
      margin-bottom: 5px;
    }
    .footer-container p{
      font-size: .7rem;
      line-height: 18px;
    }
    .footer-icons .fa{
      font-size: 15px;
      line-height: 30px;
      width: 30px;
      height: 30px;
      text-align: center;
    }
  }
  @media screen and (max-width:1084px) {
    .news-content h1{
      font-size: .6rem;
    }
  }