#menu ul li:nth-child(5) a{
    color: red;
}
#menu ul li:nth-child(4) a{
    color: black;
}
@media screen and (max-width:1024px) {
    #menu ul li:nth-child(4) a{
        color: #fff;
    }
}
.banner-icon .inner-circle .fa{
    transform: rotate(35deg);
}
/* BLOG TEXT */
.blog-container{
    width: 80%;
    margin: 40px auto;
}
.blog-img img{
    width: 100%;
    height: 342px;
    border-radius: 10px;
}
.blog-text{
    margin-top: 10px;
}
.blog-text p, .wrapper-text p{
    font-weight: 600;
    opacity: .7;
    line-height: 26px;
}

.blog-img h5{
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: .7;
}
.blog-img h5 i{
    margin: 0 5px;
    color: red;
}
.blog-img h5 a{
    text-decoration: none;
}
.mid-text{
    width: 70%;
    margin: auto;
}
.mid-text p{
    font-size: 1.1rem;
    font-style: italic;
    opacity: .9;
    margin-bottom: 10px;
    font-weight: 600;
}
.mid-text p span{
    font-size: 1.9rem;
    margin-right: 5px;
    opacity: .3;
    font-weight: 500;

}
.mid-text p:nth-child(2){
    position: relative;
}
.mid-text p:nth-child(2) span{
    position: absolute;
    background-color: red;
    width: 113px;
    height: 2px;
    bottom: -4px;
}
/* GALLERRY */
.blog-gallery{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-row{
    flex-basis: 100%;
    margin-bottom: 10px;
}
.blog-row img{
    width: 100%;
    border-radius: 5px;
}
.gallery-text{
    margin-bottom: 10px;
}
.gallery-text h5{
    opacity: .6;
    margin-top: 10px;
}
.gallery-text h5 span{
    text-transform: capitalize;
    color: rgb(182, 6, 6);
}
.gallery-icons i{
    margin-right: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 2px solid rgb(5, 5, 209,.3);
    text-align: center;
    color: rgb(153, 7, 7);
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
.gallery-icons i:hover{
    transform: translateY(-7px);
}
/* summary */
.blog-summary{
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    border: 2px solid rgb(187, 7, 7);
    padding: 15px 30px;
    border-radius: 10px;
}
.blog-summary h1{
    margin-bottom: 20px;
}
button{
    text-transform: capitalize;
    background-color: rgb(187, 7, 7);
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
}
button a{
    color: #fff;
    text-decoration: none;
}
.log-in{
    margin-top: 20px;
}
.log-in h2{
    margin-bottom: 15px;
    font-weight: 400;
}
.log-in p span{
    font-weight: 700;
}
.log-in p span a{
    text-decoration: none;
    color: black;
}
/* BLOG ARCHIVES */
.col h1 a{
    text-decoration: none;
    color: black;
}
.col h1 a:hover{
    opacity: .8;
    color: rgb(148, 3, 3);
}
@media screen and (max-width:768px) {
    .header-text h1{
        font-size: 1.3rem;
    }
}
@media screen and (min-width:767px) {
    .mid-text{
        width: 50%;
    }
    .blog-row{
        flex-basis: 48%;
    }
}
@media screen and (min-width:1024px) {
    .blog-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .blog-img, .wrapper-text{
        flex-basis: 48%;
    }
    .blog-img img{
        width: 100%;
    }
}

