*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header-banner{
    background: linear-gradient(rgba(1, 1, 27, 0.6),rgba(17, 2, 56, 0.9)),url('/images/C-31.jpg');
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 56px;
    text-align: center;
    position: relative;
}
.header-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.header-text, .header-text a{
    color: #fff;
    text-transform: capitalize;
}
.header-text ul li{
    list-style: none;
    display: inline;
    margin-right: 10px;
    font-weight: 600;
}
.header-text ul li:first-child a{
    color: rgb(223, 3, 3);
}
.header-text ul li:first-child a:hover{
    color: #fff;
}
.header-text a{
    text-decoration: none;
}
.header-text h1{
    margin-top: 10px;
}
.banner-icon{
    background-color: red;
    width: 60px;
    height: 60px;
    margin: -25px auto 0px;
    position: relative;
    border: 5px solid #fff;
    transform: rotate(-45deg);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
}
.banner-icon .inner-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inner-circle .fa{
    color: #fff;
    position: relative;
    transform: rotate(-45deg);
    font-size: 1.5rem;
}

@media screen and (min-width:1024px) {
    #menu-list{
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        padding-bottom: 18px;
        padding-right: 10%;
        z-index: 999;
    }
    .show-header #menu-list{
        background-color: #200455;
    }
    .show-header #menu-list ul li a{
        color: #fff;
    }
    .logo{
        top: 0;
        z-index: 999;
    }
    #menu ul li a{
        color: black;

    }
    #menu ul li:last-child a{
        color: white;
    }
    .header-text h1{
       font-size: 2.5rem;
    }
}